body
{
    margin: 0;
    padding: 0;
    background: #262626;

}
ul
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
margin: 0;
padding: 0;
display: flex;
}
ul li
{
list-style: none;
width: 40px;
height: 40px;
background: #fff;
border-radius: 50%;
animation: animate 1.6s ease-in-out infinite;
}
@keyframes animate
{
    0%, 40%, 100%
    {
        transform:scale(0.2);
    }
    20%
    {
        transform:scale(1);
    }
    20%
    {
        transform:scale(1);
    }
}
ul li:nth-child(1)
{
    animation-delay:-2.6s;
    background: #ffff00;
    box-shadow: 0 0 50px #ffff00;
}
ul li:nth-child(2)
{
    animation-delay:-2.4s;
    background: #0026ff;
    box-shadow: 0 0 50px #a200ff;
}
ul li:nth-child(3)
{
    animation-delay:-1s;
    background: #620000;
    box-shadow: 0 0 50px #620000;
}
ul li:nth-child(4)
{
    animation-delay:-2.2s;
    background: #ed1c24 ;
    box-shadow: 0 0 50px #ed1c24 ;
}
ul li:nth-child(5)
{
    animation-delay:-2s;
    background: #ff0000;
    box-shadow: 0 0 50px #ff0000;
}
ul li:nth-child(6)
{
    animation-delay:-1.8s;
    background: #808000;
    box-shadow: 0 0 50px #808000;
}
ul li:nth-child(7)
{
    animation-delay:-1.6s;
    background: #ff5e00;
    box-shadow: 0 0 50px #ff5e00;
}
ul li:nth-child(8)
{
    animation-delay:-1.4s;
    background: #ffbb00;
    box-shadow: 0 0 50px #ffbb00;
}
ul li:nth-child(9)
{
    animation-delay:-1.2s;
    background: hsl(32, 100%, 50%);
    box-shadow: 0 0 50px hsl(32, 100%, 50%);
}
ul li:nth-child(10)
{
    animation-delay:-1s;
    background: #00fff2;
    box-shadow: 0 0 50px #00fff2;
}
ul li:nth-child(11)
{
    animation-delay:-.8s;
    background: #7cfc00;
    box-shadow: 0 0 50px #7cfc00;
}
ul li:nth-child(12)
{
    animation-delay:-.6s;
    background: hsl(342, 100%, 50%);
    box-shadow: 0 0 50px hsl(342, 100%, 50%);
}
ul li:nth-child(13)
{
    animation-delay:-.4s;
    background: #673Ab7;
    box-shadow: 0 0 50px #673Ab7;
}
